Package: ca.ndoizo.goblinpassive
Name: GoblinPassive
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Break the auction house!
Maintainer: candoizo
Author: candoizo
Section: Tweaks
